CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# WT0132P4-A1-N16R32 memory
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_FREERTOS_HZ=1000

# OV5647 bring-up sensor: MIPI CSI, RAW8 800x640 -> ISP -> RGB565
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_OV5647_MIPI_RAW8_800X640_50FPS=y
CONFIG_CAMERA_OV5647_MIPI_DEFAULT_FMT_RAW8_800X640_50FPS=y
CONFIG_CAMERA_XCLK_USE_ESP_CLOCK_ROUTER=y
CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# Use Wireless-Tag BSP only for board CSI. Display/touch/SD are the external ILI9488 module.
CONFIG_WT_BSP_ENABLE_RGB=n
CONFIG_WT_BSP_ENABLE_BUTTON=n
CONFIG_WT_BSP_ENABLE_SDMMC=n
CONFIG_WT_BSP_ENABLE_DSI=n
CONFIG_WT_BSP_ENABLE_CSI=y
CONFIG_WT_BSP_ENABLE_TOUCH=n
